<%= form_for(@student) do |f| %>

  <% if @student.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <ul>
      <%= f.hidden_field :school_id if @student.new_record? %>

      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li class="field">

        <%= f.label :about %>
        <%= f.text_area :about %>
      </li>

      <li class="field">
        <%= f.label :level %>
        <%= f.text_area :level %>
      </li>

      <%-#--SELECT ROOMS FOR THE STUDENT--%>
      <% if @school.rooms.size > 0 %>
        <li class="field room checkboxes">
          <h6 class="fake-label">Rooms</h6>
          <ul>
            <% @school.rooms.each do |room| %>
              <li>
                <label><%= check_box_tag("student[room_ids][]", room.id, room.in?(@student.rooms)) %> <%= room.name %></label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li class="actions">
        <%= f.submit :id => "commit" %>
      </li>

    </ul>
  </div>
<% end %>
