<div class="five columns alpha">

	<%-#--THE SCHOOL BANNER --%>
	<%= render 'schools/banner', :entry => @school %>

	<%-#--THE STUDENTS' HEADER--%>
	<%= render 'header', :entry => @student %>

	<%-#--EDITOR OPTIONS--%>
	<% if @student.editable_by? current_teacher %>
		<section class="standard actions">
			<h3 class="section-header">Actions</h3>
			<ul class="actions-list">
				<li><%= link_to "Edit Student", edit_school_student_path(@student.school,@student) %></li>
				<li><%= link_to "Delete Student", delete_school_student_path(@student.school,@student) %></li>
			</ul>
		</section>
	<% end %>

	<%-#--STUDENT'S ROOMS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header"><%= 'Room'.pluralize(@student.rooms.size) %></h3>
		<%= render 'shared/parcel_list', :entries => @student.rooms %>
	</section>

</div>


<div class="eleven columns omega">

	<section class="standard deletion-prompt">
		<h1>Are you sure you want to delete <%= @student.name %>?</h1>
		<p>Student deletion is <strong>permanent</strong>.  This student will be removed from their school and rooms.</p>
			<ul>
				<li>
					<%= link_to "Delete", school_student_path(@student.school,@student), method: :delete %>
				</li>
				<li>
					<%= link_to "Back", school_student_path(@student.school,@student) %>
				</li>
			</ul>
	</section>

</div>