<%= form_for([@school, @class_session]) do |f| %>
  <% if @class_session.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@class_session.errors.count, "error") %> prohibited this class_session from being saved:</h2>

      <ul>
      <% @class_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <%= f.hidden_field :room_id %>
    <%= f.hidden_field :school_id %>
    <ul>
      <% unless @class_session.room %>
        <% if @school.rooms.size > 0 %>
          <li class="field room select">
            <%= f.label :room_id, "Room" %>
            <% if @school.rooms.size > 1 %>
              <%= f.select :room_id, @school.rooms.all.map { |r| ["#{r.name}", r.id]}, :include_blank => "None" %>
            <% else %>
              <li class="field room select">
                <%= f.select :room_id, [
                  ["#{@school.rooms.first.name}", @school.rooms.first.id]
                ]
                %>
              </li>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <li class="field">
        <%= f.label :teacher_id %>
        <%= f.select :teacher_id, @school.all_teachers.map{ |t| [t.name, "#{t.id}"] } %>
      </li>
      <li class="Field">
        <%= f.label :status %>
        <%= f.select :status, ClassSession.status.each_with_index.map { |s| ["#{s}", ClassSession.status.index(s)]} %>
      </li>
      <li class="field">
        <%= f.label :name, "Name (optional)" %>
        <%= f.text_field :name %>
      </li>
      <li class="field">
        <%= f.label :summary %>
        <%= f.text_area :summary %>
      </li>

      <%-#--SELECT STUDENTS FOR THE CLASS SESSION--%>
      <% if @school.students.size > 0 %>
      <%= hidden_field_tag("class_session[student_ids][]", nil) %>
        <li class="field student checkboxes">
          <h6 class="fake-label">Students</h6>
          <ul>
            <% @potential_students.each do |student| %>
              <li>
                <label <%= @room && student.in?(@room.students) ? "class='in-room'" : "" %>>
                  <%= check_box_tag("class_session[student_ids][]", student.id, (@class_session && student.in?(@class_session.students))) %> <%= student.name %>
                </label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if @school.periods.size > 0 %>
        <li class="field period select">
          <%= f.label :period_id, "Period" %>
          <% if @school.periods.size > 1 %>
            <%= f.select :period_id, @school.periods.all.map { |p| ["#{p.name}", p.id]} %>
          <% else %>
            <li class="field period select">
              <%= f.select :period_id, [
                ["#{@school.periods.first.name}", @school.periods.first.id]
              ]
              %>
            </li>
          <% end %>
        </li>
      <% end %>

      <li class="field datetime">
        <%= f.label :day %>
        <%= f.date_select :day %>
      </li>
      <li class="actions">
        <%= f.submit "Update Class Session", :id => "commit" %>
      </li>
    </ul>
  </div>

<% end %>
