<%= form_for([@school, @class_session]) do |f| %>
  <% if @class_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_session.errors.count, "error") %> prohibited this class_session from being saved:</h2>

      <ul>
      <% @class_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.number_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :held_at %><br>
    <%= f.datetime_select :held_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
