<div class="five columns alpha">

	<%-#--TEACHER'S VITAL INFO--%>
	<%= render 'header', :entry => current_teacher, :subtitle => "Dashboard" %>

	<%-#--TEACHER ACTIONS--%>
	<section class="standard actions">
		<h3 class="section-header">Actions</h3>
		<ul class="actions-list">
			<li><%= link_to "Edit Account", edit_teacher_path(current_teacher) %></li>
			<li><%= link_to "New School", new_school_path %></li>
		</ul>
	</section>

	<%-#--QUICK INFO--%>
	<section class="standard quick-info-holder">
		<h3 class="section-header">Your Account</h3>
		<dl class="quick-info">
			<dt>Schools</dt>
				<dd><%= current_teacher.founded_schools.count %></dd>
			<dt>Activities</dt>
				<dd>123</dd>
			<dt>Created</dt>
				<dd><%= current_teacher.created_at.strftime("%b %d, %Y") %><dd>

		</dl>
	</section>

	<%-#--TEACHER'S SCHOOLS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Your Schools</h3>
		<%= render 'shared/parcel_list', :entries => @teacher_schools %>
	</section>

</div>

<div class="eleven columns omega">
a

</div>
