<%= form_for([@school, @room]) do |f| %>
  <% if @room.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <ul>
      <li class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li class="field">
        <%= f.label :summary %>
        <%= f.text_area :summary %>
      </li>
      <%-#-- SELECT THE REGULAR TEACHER --%>
      <li class="field teacher select">
        <%= f.label :regular_teacher, "Teacher" %>
        <%= f.select :regular_teacher, options_for_select(
          @school.teachers.map{
            |t| [t.name, t.id]
          }
        )
        %>
      </li>
      <%-#--SELECT THE REGULAR DATE AND TIME--%>
      <li class="field day select">
        <%= f.label :regular_day, "Day" %>
        <%= f.select :regular_day, [
          ["Sunday", 0],
          ["Saturday", 1],
          ["Monday", 2],
          ["Tuesday", 3],
          ["Wednesday", 4],
          ["Thursday", 5],
          ["Friday", 6],
          ["Saturday", 7]
        ] %>
      </li>
      <li class="field period select">
        <%= f.label :regular_period, "Period" %>
        <%= f.select :regular_period, [
          ["First", 1],
          ["Second", 2],
          ["Third", 3]
        ] %>
      </li>
      <%-#--SELECT STUDENTS FOR THE ROOM--%>
      <% if @school.students.size > 0 %>
      <%= hidden_field_tag("room[student_ids][]", nil) %>
        <li class="field student checkboxes">
          <h6 class="fake-label">Students</h6>
          <ul>
            <% @school.students.each do |student| %>
              <li>
                <label><%= check_box_tag("room[student_ids][]", student.id, student.in?(@room.students)) %> <%= student.name %></label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="actions">
        <%= f.hidden_field :school_id %>
        <%= f.hidden_field :founding_teacher_id %>
        <%= f.submit :id => "commit" %>
      </li>
    </ul>
  </div>

<% end %>
