<%= form_for([@school, @room]) do |f| %>
  <% if @room.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <ul>
      <li class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li class="field">
        <%= f.label :summary %>
        <%= f.text_area :summary %>
      </li>
      <%-#-- SELECT THE REGULAR TEACHER --%>
      <li class="field regular_teacher select">
        <%= f.label :regular_teacher_id, "Teacher" %>
        <% if @school.all_teachers.size > 1 %>
        <%= f.select :regular_teacher_id, [
          @school.all_teachers.map{
            |t| [t.name, t.id]
          }
        ]
        %>
        <% else %>
          <%= f.select :regular_teacher_id, [
            ["#{@school.all_teachers.first.name}", @school.all_teachers.first.id]
          ]
          %>
        <% end %>
      </li>
      <%-#--SELECT THE REGULAR DATE AND TIME--%>
      <li class="field day select">
        <%= f.label :regular_day, "Day" %>
        <%= f.select :regular_day, [
          ["Sunday", 0],
          ["Monday", 1],
          ["Tuesday", 2],
          ["Wednesday", 3],
          ["Thursday", 4],
          ["Friday", 5],
          ["Saturday", 6]
        ] %>
      </li>
      <% if @school.periods.size > 0 %>
        <li class="field period select">
          <%= f.label :regular_period_id, "Period" %>
          <% if @school.periods.size > 1 %>
            <%= f.select :regular_period_id, @school.periods.all.map { |p| ["#{p.name}", p.id]} %>
          <% else %>
            <li class="field period select">
              <%= f.select :regular_period_id, [
                ["#{@school.periods.first.name}", @school.periods.first.id]
              ]
              %>
            </li>
          <% end %>
        </li>
      <% end %>
      <% #----AUTOMATICALLY SCHEDULE CLASS SESSIONS %>
      <li class="field checkboxes" id="auto-schedule-room-class-sessions">
        <label id="auto-schedule-menu-toggle">
          <%= check_box_tag("autoschedule_class_sessions") %>Automatically schedule class sessions?
        </label>
        <div id="select-auto-schedule-period">
          <h6 class="fake-label">For how long?</h6>
          <ul>
            <li><label><%= radio_button_tag 'auto_schedule_period', 1, true %>One Month</label></li>
            <li><label><%= radio_button_tag 'auto_schedule_period', 1 %>Three Months</label></li>
            <li><label><%= radio_button_tag 'auto_schedule_period', 1 %>Six Months</label></li>
            <li><label><%= radio_button_tag 'auto_schedule_period', 1 %>One Year</label></li>
          </ul>
        <div>
      </li>
      </li>
      <%-#--SELECT STUDENTS FOR THE ROOM--%>
      <% if @school.students.size > 0 %>
      <%= hidden_field_tag("room[student_ids][]", nil) %>
        <li class="field student checkboxes">
          <h6 class="fake-label">Students</h6>
          <ul>
            <% @school.students.each do |student| %>
              <li>
                <label><%= check_box_tag("room[student_ids][]", student.id, student.in?(@room.students)) %> <%= student.name %></label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="actions">
        <%= f.hidden_field :school_id %>
        <%= f.hidden_field :founding_teacher_id %>
        <%= f.submit :id => "commit" %>
      </li>
    </ul>
  </div>

<% end %>


<script>

  $(document).ready(function () {

    $('#select-auto-schedule-period').hide();

    $('#auto-schedule-menu-toggle').click(function(){
      if ($('#autoschedule_class_sessions').is(':checked')){
        $('#select-auto-schedule-period').slideDown(300);
      }else{
        $('#select-auto-schedule-period').slideUp(300);
      };

    });

  });
  
</script> 