<%= render 'header', :entry => @room %>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @room.summary %>
</p>

<p>
  <strong>School:</strong>
  <%= @room.school_id %>
</p>

<p>
  <strong>Founding teacher:</strong>
  <%= @room.founding_teacher_id %>
</p>
