<div class="five columns alpha">

	<%-#--SCHOOLS' BANNER--%>
	<%= render 'schools/banner', :entry => @school %>

	<%-#--ROOMS'S HEADER--%>
	<%= render 'header', :entry => @room %>

	<%-#--HEADMASTER'S ACTIONS--%>
	<% if @school.editable_by? current_teacher %>
		<section class="standard actions">
			<h3 class="section-header">Actions</h3>
			<ul class="actions-list">
				<li><%= link_to "Edit Room", edit_school_room_path(@school, @room) %></li>
				<li><%= link_to "Delete Room", delete_school_room_path(@school, @room) %></li>
			</ul>
		</section>
	<% end %>	

</div>

<div class="eleven columns omega">


	<%-#--ROOM'S STUDENTS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Students</h3>
		<%= render 'shared/parcel_list', :entries => @room_students %>
	</section>

</div>