<div class="five columns alpha">

	<%-#--SCHOOLS' BANNER--%>
	<%= render 'schools/banner', :entry => @school %>

	<%-#--ROOMS'S HEADER--%>
	<%= render 'header', :entry => @room %>

	<%-#--ROOM'S BASIC INFO--%>
	<section class="standard quick-info-holder">
		<h3 class="section-header">Room Info</h3>
		<dl>
			<dt>Day</dt>
				<dd><%= @room.regular_day ? Date::DAYNAMES[@room.regular_day] : "Unspecified" %></dd>
			<dt>Period</dt>
				<dd><%= @room.regular_period ? @room.regular_period.name : "Unspecified" %></dd>
		</dl>
	</section>

	<%-#--HEADMASTER'S ACTIONS--%>
	<% if @school.editable_by? current_teacher %>
		<section class="standard actions">
			<h3 class="section-header">Actions</h3>
			<ul class="actions-list">
				<li><%= link_to "New Session", new_school_room_class_session_path(@school, @room) %></li>
				<li><%= link_to "Edit Room", edit_school_room_path(@school, @room) %></li>
				<li><%= link_to "Delete Room", delete_school_room_path(@school, @room) %></li>
			</ul>
		</section>
	<% end %>	

</div>

<div class="eleven columns omega">

	<div class="seven columns alpha">

		<%-#TODAYS CLASS SESSION -%>
		<% if @todays_class_session %>
			<section class="standard todays-class-session">
				<h3 class="section-header">Today's <%= "Session".pluralize(@todays_class_session.size) %></h3>
				<ul>
					<% @todays_class_session.each do |session| %>
						<li>
							<article class="parcel class-session full <%= session.period.end_at < Time.now ? 'complete' : ''%>">
								<header>
									<h4>
										<%= link_to "#{session.display_name}", school_class_session_path(session.school,session) %>
										<span class="class-session-period"><%= session.period.name %></span>
									</h4>
								</header>
								<div class="info-holder">
									<ul class="session-student-list">
										<% session.students.each do |student| %>
											<li><%= link_to "#{student.name}", school_student_path(student.school,student) %></li>
										<% end %>
									</ul>
								</div>
							</article>
						</li>
					<% end %>
				</ul>
			</section>
		<% end %>

		<%-#UPCOMING CLASS SESSIONS -%>
		<section class="standard parcel-list-holder" id="upcomming-class-sessions">
			<h3 class="section-header">Upcoming Class Sessions</h3>
			<%= render 'shared/parcel_list', :entries => @upcoming_class_sessions %>
		</section>

		<%-#PREVIOUS CLASS SESSIONS -%>
		<section class="standard parcel-list-holder">
			<h3 class="section-header">Recent Class Sessions</h3>
			<%= render 'shared/parcel_list', :entries => @recent_class_sessions %>
		</section>


		<%-#--ROOM'S STUDENTS--%>
		<section class="standard parcel-list-holder">
			<h3 class="section-header">Students</h3>
			<%= render 'shared/parcel_list', :entries => @room_students %>
		</section>

	</div>

	<div class="four columns omega">
		h
	</div>

</div>