<div class="five columns alpha">

  <header id="page-header" class="teacher-header page-header">
    <h1 class="section-header">Schools</h1>
  </header>

</div>

<div class="eleven columns omega">

<table>
  <thead>
    <tr>
      <th>Headmaster</th>
      <th>Name</th>
      <th>Summary</th>
      <th>Student count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.headmaster_id %></td>
        <td><%= school.name %></td>
        <td><%= school.summary %></td>
        <td><%= school.student_count %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>