<div class="five columns alpha">

	<%-#--SCHOOL'S HEADER--%>
	<%= render 'header', :entry => @school %>

	<%-#--HEADMASTER'S ACTIONS--%>
	<% if @school.editable_by? current_teacher %>
		<section class="standard actions">
			<h3 class="section-header">Actions</h3>
			<ul class="actions-list">
				<li><%= link_to "Edit School", edit_school_path(@school) %></li>
				<li><%= link_to "New Room", new_school_room_path(@school) %></li>
				<li><%= link_to "New Student", new_school_student_path(@school) %></li>
			</ul>
		</section>
	<% end %>

	<%-#--SCHOOL'S STUDENTS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Students</h3>
		<%= render 'shared/parcel_list', :entries => @school_students %>
	</section>

	<%-#--SCHOOL'S ROOMS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Rooms</h3>
		<%= render 'shared/parcel_list', :entries => @school_rooms %>
	</section>
	

</div>

<div class="eleven columns omega">
a

</div>