<div class="five columns alpha">

	<%-#--SCHOOL'S HEADER--%>
	<%= render 'header', :entry => @school %>

	<%-#--HEADMASTER'S ACTIONS--%>
	<% if @school.editable_by? current_teacher %>
		<section class="standard actions">
			<h3 class="section-header">Actions</h3>
			<ul class="actions-list">
				<li><%= link_to "New Room Session", new_school_class_session_path(@school) %></li>
				<li><%= link_to "Edit School", edit_school_path(@school) %></li>
				<li><%= link_to "New Room", new_school_room_path(@school) %></li>
				<li><%= link_to "New Student", new_school_student_path(@school) %></li>
				<li><%= link_to "New Period", new_school_period_path(@school) %></li>
			</ul>
		</section>
	<% end %>

	<%-#--QUICK INFO--%>
	<section class="standard quick-info-holder">
		<h3 class="section-header">School Info</h3>
		<dl class="quick-info">
			<dt>Students</dt>
				<dd><%= @school.students.count %></dd>
			<dt>Rooms</dt>
				<dd><%= @school.rooms.count %></dd>
		</dl>
	</section>

	<%-#--SCHOOL'S STUDENTS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Students</h3>
		<%= render 'shared/parcel_list', :entries => @school_students %>
	</section>

	<%-#--SCHOOL'S ROOMS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Rooms</h3>
		<%= render 'shared/parcel_list', :entries => @school_rooms %>
	</section>
	

</div>

<div class="eleven columns omega">

	<%-#--THE DAY'S SCHEDULED CLASS SESSIONS %>
	<section class="schedule-holder">
		<h2><%= @day.strftime('%A %B %d, %Y') %></h2>
		<ul class="day-browser">
			<li class="today"><%= link_to "Today", school_path(@school, :day => Date.today) %></li>
			<li><%= link_to "Back A Week", school_path(@school, :day => @day - 7) %></li>
			<li><%= link_to "Back A Day", school_path(@school, :day => @day - 1) %></li>
			<li><%= link_to "Up A Day", school_path(@school, :day => @day + 1) %></li>
			<li><%= link_to "Up A Week", school_path(@school, :day => @day + 7) %></li>
		</ul>
		<table class="period-schedule">
			<tr class="header-row">
				<td>Period</td>
				<% @school.all_teachers.each do |teacher| %>
					<td><%= link_to "#{teacher.name}", teacher %></td>
				<% end %>
			</tr>

			<% @school_periods.each do |period| %>
				<tr class="period-row">
					<td><%= link_to "#{period.name}", school_period_path(@school,period) %></td>
					<% @school.all_teachers.each do |teacher| %>
						<td class="class-session">
							<% if class_this_period = ClassSession.where(:school => @school, :day => @day, :teacher => teacher, :period => period).first %>
								<header>
									<h5><%= link_to "#{class_this_period.display_name}", school_class_session_path(@school,class_this_period) %></h5>
									<%= link_to "Edit", edit_school_class_session_path(@school,class_this_period), :class => "free-edit", :id => "edit-period-room-#{class_this_period.room.to_param}-period-#{period.to_param}" %>
									<%= link_to "Remove", school_class_session_path(@school,class_this_period), :method => :delete, :class => "free-delete", :id => "delete-period-room-#{class_this_period.room.to_param}-period-#{period.to_param}" %>
								</header>
								<div class="class-info">
								</div>
							<% else %>
								<button class="add-class">Add Class</button>
								<%-#--TO ADD A NEW CLASS SESSION %>
								<div class="add-class-session">
									<%= form_for([@school, @class_session]) do |f| %>
	  								<div class="form-fields schedule-form">
	  									<%= f.label :room_id, "Room" %>
										<%= f.select :room_id, @school.rooms.all.map{ |r| [r.name, "#{r.id}"] }, {}, :id => "select-room-for-#{teacher.to_param}-#{period.to_param}" %>
										<%= f.hidden_field :period_id, :value => period.to_param %>
										<%= f.hidden_field :school_id %>
										<%= f.hidden_field :teacher_id, :value => teacher.to_param %>
										<%= f.hidden_field :held_at, :value => period.start_at %>
										<%= f.hidden_field :day, :value => @day %>
										<%= f.hidden_field :quick_creation, :value => true %>
										<%= f.submit "Add Session", :id => "add-session-period-#{period.to_param}-teacher-#{teacher.to_param}" %>
								 	</div>
								<% end %>
							</div>
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>

		</table>
	</section>

</div>


<script>

	$(document).ready(function () {

		dropdownAddClassSession();

		function dropdownAddClassSession(){
			$(".add-class-session").hide();
			$(".add-class").click(function(){
				$(this).next().slideToggle();
			});
		}

	});
	
</script> 

